.container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.nav {
  max-width: 1250px;
  margin: 7em auto;
}

nav {
  display: flex;
  gap: 10px;
}

ul {
  cursor: pointer;
}
