<nav class="navbar flex">
  <div class="nav-container">
    <ul class="nav-links">
      <li>
        <a routerLink="biding" routerLinkActive="active">Biding</a>
      </li>
      <li>
        <a routerLink="services" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a routerLink="reactiveForms" routerLinkActive="active">reactiveForms</a>
      </li>
      <li>
        <a routerLink="directives-pipes" routerLinkActive="active">directives-pipes</a>
      </li>
      <li>
        <a routerLink="rxjs" routerLinkActive="active">rxjs</a>
      </li>
      <li>
        <a routerLink="templateForms" routerLinkActive="active">templateForms</a>
      </li>
      <li>
        <a routerLink="viewEncapsulation" routerLinkActive="active">viewEncapsulation</a>
      </li>
      <li>
        <a routerLink="animations" routerLinkActive="active">animations</a>
      </li>
      <li>
        <a routerLink="input-output" routerLinkActive="active">input-output</a>
      </li>
    </ul>
  </div>
  <div class="auth-div">
    <div>
      @if (!isloggedIn()) {
        <button class="auth-btn" routerLink="/reactiveForms">Log In</button>
      }
    </div>

    <div>
      @if (isloggedIn()) {
        <button class="auth-btn" (click)="signout()">Sign Out</button>
      }
    </div>
  </div>
</nav>
<div class="gradient-line"></div>
