<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li>
        <a routerLink="biding" routerLinkActive="active">Biding</a>
      </li>
      <li>
        <a routerLink="services" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a routerLink="reactiveForms" routerLinkActive="active">reactiveForms</a>
      </li>
      <li>
        <a routerLink="directives-pipes" routerLinkActive="active">directives-pipes</a>
      </li>
      <li>
        <a routerLink="rxjs" routerLinkActive="active">rxjs</a>
      </li>
      <li>
        <a routerLink="templateForms" routerLinkActive="active">templateForms</a>
      </li>
    </ul>
  </div>
</nav>
<div class="gradient-line"></div>
